@use '../base/colors';
@use '../../vendors/fonts';

.body {
    background-color: colors.$white;
  
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    font-family: "Arial", sans-serif;
    font-weight: 500;

    font-style: normal;
    scroll-behavior: smooth;
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
  }