@use '../base/colors';

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

  &__round {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: colors.$grey;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    &:before {
      position: absolute;
      content: '';
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }
    &:hover{
        background-color: colors.$lightblue;
    }
  }

  &__input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .switch__input:checked + .switch__round {
    background-color: colors.$blue;
  }

  .switch__input:focus + .switch__round {
    box-shadow: 0 0 1px colors.$blue;
  }

  .switch__input:checked + .switch__round:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .switch__round {
    border-radius: 34px;

    &:before {
      border-radius: 50%;
    }
  }
}
